.start-page{
  width: 100%;
  background: linear-gradient(to bottom, #87cefa , #fff 70%);
  min-height: 100dvh;
}
.container{
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.contaoner img{
  height: 300px;
  width: 60%;
  object-fit: cover;
}
.welcome-text{
  width: 100%;
}
.welcome-text h2, .welcome-text p{
  text-align: center;
}
.welcome-text p{
  opacity: .8;
}
.login{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login input{
  border: 1px solid rgba(0,0,0,.5);
  outline: none;
  height: 40px;
  max-width: 300px;
  border-radius: 15px;
  padding: 10px;
  color: rgba(0,0,0,.5) ;
  transition: border .2s;
}
button{
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: .9rem;
  color: #fff;
  background: #87cefa;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}
.login input:focus{
  border: 1px solid #87cefa;
}
.login input::placeholder{
  color: rgba(0,0,0,.4);
}
